name: 'Hacs validation'

on:
  push:
    branches:
      - 'main'
      - 'dev'
  workflow_dispatch:

jobs:
  validate:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v4'
      - name: HACS validation
        uses: 'hacs/action@main'
        with:
          category: 'plugin'
